<div class="container-fluid">
  <div class="row">
    <div class="crm-grey"></div>
    <div class="col-md-6 col-xs-12">
        <div class="company-avater">
          A
        </div>
      <div class="company-avtr-r">
        <h2>Apple Inc.</h2>
        <sub>APPLE</sub>
        <br>
        <a href="#">www.apple.com</a>
      </div>
    </div>
   
    <div class="col-md-6 col-xs-12">
      <div class="company-loc">
        <div class="loc-ico">
          <!--Fontawesome icon will be here-->
          <img src="../../assets/img/location.png" width="100">
        </div>
        <div class="loc-r">
          One Infinity Loop <br>
          Cupertino, CA <br>
          95014
        </div>

      </div>
    </div>
      <div class="crm-grey"></div>
    <div class="col-12">
      <div class="team-time">
        <div class="tt-l">
            8 Apr 2018<br>
            <sub>6:00 PM</sub>
        </div>
        <div class="tt-r">
          <h4>Intro with BofAML Team</h4>
          <sub>mob test 15</sub>
          <p>Outlook Sent</p>
          <!--Fontawesome icon will be here-->
          <img class="edt" src="../../assets/img/edit.webp" width="30">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="crm-blue col-12">
      <header>Attendee(s)</header>
    </div>
    <div class="col-12">
      <div class="user-avtr-r">
        <div class="user-avater">
          CT
        </div>
        <h2>Cook, Tim</h2>
        <sub>Apple Inc. CEO</sub>
      </div>
     
    </div>
    <hr class="divider">
    <div class="col-12">

       <div class="user-avtr-r1">
        <div class="user-avater">
          MT
        </div>
        <h2>Montag, Tom</h2>
        <sub>Bank of America</sub>
      </div>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="crm-blue col-12">Products Discussed</div>
    <div class="crm-white col-12">
      <strong>Equity Capital Markets</strong>
    </div>
    <div class="crm-white col-12">
      <strong>CBK</strong>
    </div>

  </div>

  <div class="row">

      <div class="crm-blue col-12">Segmentation</div>
    <div class="crm-white col-6">
      <span>
        <strong>IBK</strong>
      </span>
    </div>

    <div class=" crm-white col-6">
        <span>
         GOLD
          </span>
    </div>
     <div class="crm-white col-6">
      <span>
        <strong>CBK</strong>
      </span>
    </div>

    <div class=" crm-white col-6">
        <span>
         PLATINUM
          </span>
        </div>
</div>
  <div class="row">

      <div class="crm-blue col-12">Client Health</div>
    <div class="crm-white col-4">
      <span>
        <strong>54.23</strong>
      </span>
    </div>

    <div class=" crm-white col-8">
      <span>
        Stock Price (Last Closed)
      </span>
    </div>
    <div class="crm-white col-4">
      <span>
        <strong>3 M</strong>
      </span>
    </div>
    <div class="crm-white col-8">
      <span>
        Market Cap
      </span>
    </div>
  </div>


  <div class="row">
    <div class="crm-white col-4">
      <span>
        <strong>3.55</strong>
      </span>
    </div>

    <div class=" crm-white col-8">
      <span>
        Annual Sales (2017)
      </span>
    </div>
    <div class="crm-white col-4">
      <span>
        <strong>3 M</strong>
      </span>
    </div>
    <div class="crm-white col-8">
      <span>
        Market Cap
      </span>
    </div>
  </div>
  <div class="row">
    <div class="crm-blue col-6">
      <div class="float-left">BofAML Research View</div>
    </div>
    <div class="crm-blue col-6">
      <div class="float-right">As of May 2, 2018</div>
    </div>
</div>
<div class="row">
    <div class="col-3">
      Rating
      <span>Buy</span>
    </div>

    <div class="col-6">
      Price Objective
      <span>180.00</span>
    </div>
    <div class="col-3">
      Upside
      <span>17%</span>
    </div>
  </div>

  <div class="row">
    <div class="crm-blue col-12">
      Relationship Revenue
    </div>
    <div class="col-4  crm-white relationship-revenue-value">
        $23.016 <span>USD</span>
        </div>

       <div class=" crm-white col-8 relationship-revenue-type">
         <span>R12 Revenue</span>
        </div>


      <div class="crm-white col-4">
        <div class="positive-value">+10.5%</div>
        </div>
       <div class="crm-white col-8 relationship-revenue-type">
         <span>Change vs Prior Year</span>
        </div>


      <div class="crm-white col-4">
          <div class="relationship-revenue-value">+11.93%</div>
          </div>
         <div class="crm-white col-8 relationship-revenue-type">
           <span>vs17</span>
          </div>
        </div>



  <div class="row">
    <!-- Gradient Bar -->
    <div class="gradient-bar col-12"></div>
  </div>

  <div class="row relationship-revenue">
    <!-- product row -->
    <div class="crm-lighter-blue col-6">

      <span>[Product Name]</span>
    </div>
    <div class="crm-lighter-blue col-3">
      <span>[R12_Value]</span>
    </div>
    <div class="crm-lighter-blue col-3">
      <span>[vs17]</span>
    </div>

  </div>

  <div class=" row relationship-revenue">
    <!-- Product Row  -->
    <div class="crm-white col-6 product">
      <div class="square-default-blue float-left"></div>
      <div class="float-left product-title">[Product Name]</div>
    </div>

    <!-- R12 -->
    <div class="crm-white col-3 r-6 ">
      <span>[R12]</span>
    </div>

    <!-- vs17 -->
    <div class="crm-white col-3 vs-17">
      <span>[vs17]</span>
    </div>

  </div>


  <div class="row relationship-revenue">

    <!-- Product Row  -->
    <div class="crm-white col-6 product">
      <div class="square-default-blue float-left"></div>
      <div class="float-left product-title">[Product Name]</div>
    </div>

    <!-- R12 -->
    <div class="crm-white col-3 r-6">
      <span>[R12]</span>
    </div>

    <!-- vs17 -->
    <div class="crm-white col-3 vs-17">
      <span>[vs17]</span>
    </div>

  </div>



  <div class="row relationship-revenue">

    <!-- Product Row  -->
    <div class="crm-white col-6 product">
      <div class="square-default-blue float-left"></div>
      <div class="float-left product-title">[Product Name]</div>
    </div>

    <!-- R12 -->
    <div class="crm-white col-3 r-6">
      <span>[R12]</span>
    </div>

    <!-- vs17 -->
    <div class="crm-white col-3 vs-17">
      <span>[vs17]</span>
    </div>

  </div>

  <div class="row relationship-revenue">

    <!-- Product Row  -->
    <div class="crm-white col-6 product">
      <div class="square-even-lighter-blue float-left"></div>
      <div class="float-left product-title">[Product Name]</div>
    </div>

    <!-- R12 -->
    <div class="crm-white col-3 r-6">
      <span>[R12]</span>
    </div>

    <!-- vs17 -->
    <div class="crm-white col-3 vs-17">
      <span>[vs17]</span>
    </div>
  </div>



  <div class="row relationship-revenue">

    <!-- Product Row  -->
    <div class="crm-white col-6 product">
      <div class="square-even-lighter-blue float-left"></div>
      <div class="float-left product-title">[Product Name]</div>
    </div>

    <!-- R12 -->
    <div class="crm-white col-3 r-6">
      <span>[R12]</span>
    </div>

    <!-- vs17 -->
    <div class="crm-white col-3 vs-17">
      <span>[vs17]</span>
    </div>
  </div>



  <div class="row relationship-revenue">

    <!-- Product Row  -->
    <div class="crm-white col-6 product">
      <div class="square-even-lighter-blue float-left"></div>
      <div class="float-left product-title">[Product Name]</div>
    </div>

    <!-- R12 -->
    <div class="crm-white col-3 r-6">
      <span>[R12]</span>
    </div>

    <!-- vs17 -->
    <div class="crm-white col-3 vs-17">
      <span>[vs17]</span>
    </div>
  </div>



  <div class="row relationship-revenue">

    <!-- Product Row  -->
    <div class="crm-white col-6 product">
      <div class="square-even-lighter-blue float-left"></div>
      <div class="float-left product-title">[Product Name]</div>
    </div>

    <!-- R12 -->
    <div class="crm-white col-3 r-6">
      <span>[R12]</span>
    </div>

    <!-- vs17 -->
    <div class="crm-white col-3 vs-17">
      <span>[vs17]</span>
    </div>
  </div>



  <div class="row relationship-revenue">

    <!-- Product Row  -->
    <div class="crm-white col-6 product">
      <div class="square-even-lighter-blue float-left"></div>
      <div class="float-left product-title">[Product Name]</div>
    </div>

    <!-- R12 -->
    <div class="crm-white col-3 r-6">
      <span>[R12]</span>
    </div>

    <!-- vs17 -->
    <div class="crm-white col-3 vs-17">
      <span>[vs17]</span>
    </div>
  </div>



  <div class="row relationship-revenue">

    <!-- Product Row  -->
    <div class="crm-white col-6 product">
      <div class="square-even-lighter-blue float-left"></div>
      <div class="float-left product-title">[Product Name]</div>
    </div>

    <!-- R12 -->
    <div class="crm-white col-3 r-6">
      <span>[R12]</span>
    </div>

    <!-- vs17 -->
    <div class="crm-white col-3 vs-17">
      <span>[vs17]</span>
    </div>
  </div>



  <div class="row relationship-revenue">

    <!-- Product Row  -->
    <div class="crm-white col-6 product">
      <div class="square-even-lighter-blue float-left"></div>
      <div class="float-left product-title">[Product Name]</div>
    </div>

    <!-- R12 -->
    <div class="crm-white col-3 r-6">
      <span>[R12]</span>
    </div>

    <!-- vs17 -->
    <div class="crm-white col-3 vs-17">
      <span>[vs17]</span>
    </div>
  </div>




  <div class="row relationship-revenue">
    <div class="crm-blue col-12">SPR</div>
    <div class="crm-white col-4 no-padding-right">
      <span>FYR17</span>
    </div>
    <div class="crm-white col-6 no-padding-left">
      <div class="square-sky-blue hundred-percent"></div>
    </div>
    <div class="crm-white col-2">
      <span>100%</span>
    </div>
    <div class="crm-white col-4 no-padding-right ">
      <span>R12</span>
    </div>
    <div class="crm-white col-6 no-padding-left">
      <div class="square-even-lighter-blue hundred-percent"></div>
    </div>
    <div class="crm-white col-2">
      <span>100%</span>
    </div>
  </div>



  <div class="row">
    <div class="crm-blue col-12">Returns Metric</div>
    <div class="crm-light-blue color-white col-12">
      <span>B3S Share</span>
    </div>
    <div class="crm-white col-4 no-padding-right">
      <span>FYR17</span>
    </div>
    <div class="crm-white col-6 no-padding-left">
      <div class="square-sky-blue hundred-percent"></div>
    </div>
    <div class="crm-white col-2">
      <span>100%</span>
    </div>

    <div class="crm-white col-4 no-padding-right">
      <span>R12</span>
    </div>
    <div class="crm-white col-6 no-padding-left relationship-revenue">
      <div class="square-even-lighter-blue hundred-percent"></div>
    </div>
    <div class="crm-white col-2">
      <span>100%</span>
    </div>
  </div>

  <div class="row relationship-revenue">
    <div class="crm-blue col-12">LLE</div>
    <div class="crm-white col-4 relationship-revenuet">
      <span>FYR17</span>
    </div>
    <div class="crm-white col-6 no-padding-left">
      <div class="square-sky-blue hundred-percent"></div>
    </div>
    <div class="crm-white col-2">
      <span>100%</span>
    </div>
    <div class="crm-white col-4 no-padding-right">
      <span>FYR17</span>
    </div>
    <div class="crm-white col-6 no-padding-left">
      <div class="square-sky-blue hundred-percent"></div>
    </div>
    <div class="crm-white col-2">
      <span>100%</span>
    </div>

  </div>




  <div class="row ">
    <div class="crm-blue col-12 relationship-revenue">Net Deposits</div>
    <div class="crm-white col-4">
      <span>FYR17</span>
    </div>
    <div class="crm-white col-6 no-padding-left">
      <div class="square-sky-blue hundred-percent"></div>
    </div>
    <div class="crm-white col-2">
      <span>100%</span>
    </div>
    <div class="crm-white col-4 ">
      <span>FYR17</span>
    </div>
    <div class="crm-white col-6 no-padding-left">
      <div class="square-sky-blue hundred-percent"></div>
    </div>
    <div class="crm-white col-2">
      <span>100%</span>
    </div>

  </div>






  <div class="row">
    <div class="crm-blue col-12 relationship-revenue">Past Meetings</div>
    <div class="crm-white col-4">
      <span>FYR17</span>
    </div>
    <div class="crm-white col-6 no-padding-left">
      <div class="square-sky-blue hundred-percent "></div>
    </div>
    <div class="crm-white col-2">
      <span>100%</span>
    </div>
  </div>
  <div class="row">
    <div class="crm-white col-4 ">
      <span>R12</span>
    </div>
    <div class="crm-white col-6 no-padding-left">
      <div class="square-sky-blue hundred-percent"></div>
    </div>
    <div class="crm-white col-2">
      <span>100%</span>
    </div>

  </div>



  <div class="row">
    <div class="crm-blue col-12 padding">Key Coverage</div>
    <div class="crm-white col-4 ">
      <span>FYR17</span>
    </div>
    <div class="crm-white col-6 no-padding-left">
      <div class="square-sky-blue hundred-percent"></div>
    </div>
    <div class="crm-white col-2">
      <span>100%</span>
    </div>
    <div class="crm-white col-4">
      <span>R12</span>
    </div>
    <div class="crm-white col-6 no-padding-left">
      <div class="square-sky-blue hundred-percent"></div>
    </div>
    <div class="crm-white col-2">
      <span>100%</span>
    </div>

  </div>



  <div class="row">

    <div class="crm-blue col-12 relationship-revenue">Upcoming Meeting(s)</div>
    <div class="crm-white meetings-row-height col-4 relationship-revenue">
      <div class="meeting-date padding font-size-12pt">
        <div class="meeting-date">
          <span>8 Apr 2018</span>
        </div>
        <div class="meeting-time">
          <span>6:00 PM</span>
        </div>
      </div>
    </div>
    <div class="statusIndicator-info"></div>
    <div class="crm-white meetings-row-height col-7 relationship-revenue">
      <div class="meeting-info padding font-size-12pt">
        <div class="meeting-title">
          <span>Intro with BofAML Team</span>
        </div>
        <div class="meeting-subject">
          <span>mob test 15</span>
        </div>
        <div class="outlook">
          <span>Outlook Sent</span>
        </div>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="crm-blue col-12 relationship-revenue">
      Past Meeting(s)</div>
    <div class="crm-white meetings-row-height col-4 relationship-revenue">
      <div class="meeting-date padding font-size-12pt">
        <div class="meeting-date">
          <span>8 Apr 2018</span>
        </div>
        <div class="meeting-time">
          <span>6:00 PM</span>
        </div>
      </div>
    </div>
    <div class="statusIndicator-info"></div>
    <div class="crm-white meetings-row-height col-7 relationship-revenue">
      <div class="meeting-info padding font-size-12pt">
        <div class="meeting-title">
          <span>Intro with BofAML Team</span>
        </div>
        <div class="meeting-subject">
          <span>mob test 15</span>
        </div>
        <div class="outlook">
          <span>Outlook Sent</span>
        </div>
      </div>
    </div>
    <div class="crm-white meetings-row-height col-4 relationship-revenue">
      <div class="meeting-date padding font-size-12pt">
        <div class="meeting-date">
          <span>8 Apr 2018</span>
        </div>
        <div class="meeting-time">
          <span>6:00 PM</span>
        </div>
      </div>
    </div>
    <div class="statusIndicator-ok"></div>
    <div class="crm-white meetings-row-height col-7 relationship-revenue">
      <div class="meeting-info padding font-size-12pt">
        <div class="meeting-title">
          <span>Intro with BofAML Team</span>
        </div>
        <div class="meeting-subject">
          <span>mob test 15</span>
        </div>
        <div class="outlook">
          <span>Outlook Sent</span>
        </div>
      </div>
      <!-- <div class="statusIndicator warning"></div> -->
    </div>

  </div>


  <div class="row">
    <div class="crm-lighter-blue col-12 take-height-of-crm-white">
      <div class="view-all-past">
        <i>calendar-icon</i>
        <span>View All Past</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="crm-blue col-12 padding">Key Coverage</div>
    <div class="crm-white col-6 job-title ">[JOB TITLE]</div>
    <div class="crm-white col-6 name-value">[lastname, firstname]</div>
    <div class="crm-white col-6 job-title ">[JOB TITLE]</div>
    <div class="crm-white col-6 name-value">[lastname, firstname]</div>
    <div class="crm-white col-6 job-title ">[JOB TITLE]</div>
    <div class="crm-white col-6 name-value">[lastname, firstname]</div>
    <div class="crm-white col-6 job-title ">[JOB TITLE]</div>
    <div class="crm-white col-6 name-value">[lastname, firstname]</div>
    <div class="crm-white col-6 job-title ">[JOB TITLE]</div>
    <div class="crm-white col-6 name-value">[lastname, firstname]</div>
    <div class="crm-white col-6 job-title ">[JOB TITLE]</div>
    <div class="crm-white col-6 name-value">[lastname, firstname]</div>
    <div class="crm-white col-6 job-title ">[JOB TITLE]</div>
    <div class="crm-white col-6 name-value">[lastname, firstname]</div>
  </div>



</div>
